<html >

<head>
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate">
    <title>User Profiles</title>
    <link rel="stylesheet" href="../style/styles.css">
</head>

<body onload="loadprofile()">
    <div class="wellsvoice">
        <div>
            <p class="linktag"><a href="../views/search.html">Search Pronunciation</a> <a
                    href="../views/record.html">Record Pronunciation</a></p>
        </div>
        <div class="profilelist">
            <h2 class="labeclass">User Profiles:</h2>
            <table id="idTable">
                <thead class="labeclass">
                    <tr>
                        <th class="nametd">Preffered Name</th>
                        <th class="audiotd">Click here to Listen</th>
                        <th class="phonemsth">Phoneme</th>
                    </tr>
                </thead>
                <tbody class="labeclass" id="tableBody">
                </tbody>
            </table>
        </div>
    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="wellsvoicemodel">
                <div class="popupmaindiv">
                    <h2 class="labeclass">Update Record </h2>
                    <div class="features">
                        <button id="recordButton" class="embedbutton"> <i class="fa fa-microphone"
                                aria-hidden="true"></i>
                            Record</button>
                        <button id="stopButton" class="embedbutton" disabled="true"
                            style="background: rgb(31, 176, 232); "><i class="fa fa-microphone-slash"
                                aria-hidden="true"></i>
                            Stop</button>
                        <br>
                        <div class="labeclass choosefilediv">
                            <label for="myfile">Select a file:</label>
                            <input id="fileupload" type="file" name="fileupload" />
                            <button id="upload-button" onclick="uploadFile()"> Upload </button>
                        </div>
                        <div class="recordedaudio">
                            <ol id="recordingsList"></ol>
                        </div>
                        <div class="submitrecorddiv">
                            <button type="submit" hidden="hidden" class="updaterecord" id="updaterecord"
                                value="UpdateRecord">Submit</button>
                        </div>
                        <div id="successmsg" hidden="hidden">
                            <span class="successmsg">Recorded Sucessfully</span>
                        </div>
                        <div>
                            <label id="idlabel" hidden="true"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script src="../jsfile/main.js"></script>
    <script src="../jsfile/recorder.js"> </script>
    <script src="../jsfile/jquery.min.js"></script>
    <script src="../jsfile/recorder_wells.js"></script>
    <script src="../jsfile/fontawesome.js"></script>
    <script src="../jsfile/search_wells.js"></script>
</body>

</html>