<html>

<head>
    <title>User Profiles</title>
    <link rel="stylesheet" href="../style/styles.css">

</head>

<body>
    <div class="wellsvoice">
        <div>
            <p class="linktag"><a href="../views/search.html">Search Pronunciation</a> <a
                    href="../views/record.html">Record Pronunciation</a></p>
        </div>
        <div class="profilelist">
            <h2 class="labeclass">User Profiles:</h2>
            <table>
                <thead class="labeclass">
                    <tr>
                        <th class="nametd">Preffered Name</th>
                        <th class="audiotd">Click here to Listen</th>
                        <th class="phonemsth">Phonems</th>
                    </tr>
                </thead>
                <tbody class="labeclass" id="tableBody">
                </tbody>
            </table>
        </div>
    </div>
    <script src="../jsfile/main.js"/></script>
    <script src="../jsfile/recorder.js"/></script>
    <script src="../jsfile/jquery.min.js"></script>
</body>

</html>