<html>

<head>
    <link rel="stylesheet" href="../style/styles.css">
    <link rel="stylesheet" href="../style/fontawesome.min.css">
</head>

<body style="overflow: hidden;">
    <div class="wellsvoice">
        <div class="allfeature">
            <div class="linktag">
                <a href="javascript:history.back()">Go back</a>
            </div>
            <h2 class="labeclass">Record Pronunciation</h2>
            <div class="features">
                <button id="recordButton" class="embedbutton"> <i class="fa fa-microphone" aria-hidden="true"></i>
                    Record</button>
                <button id="stopButton" class="embedbutton" disabled="true" style="background: rgb(31, 176, 232); "><i
                        class="fa fa-microphone-slash" aria-hidden="true"></i>
                    Stop</button>
                <br>
                <div class="inputclass">
                    <div class="inputdiv">
                        <label class="inputlabel required labeclass" for="fname">Name:</label>
                        <input type="text" id="name" name="name" required onkeyup="enableFunction()" />
                    </div>
                    <div class="inputdiv">
                        <label class="inputlabel" for="region">Country</label>
                        <select class="selectdropdown name=" country" id="country">
                            <option class="service-small" value="india">India</option>
                            <option class="service-small" value="usa">USA</option>
                        </select>
                    </div>
                    <div class="inputdiv">
                        <label class="inputlabel" for="language">Language:</label>
                        <select class="selectdropdown name=" language" id="language">
                            <option class="service-small" value="English">English</option>
                            <option class="service-small" value="Kannada">Kannada</option>
                            <option class="service-small" value="Telugu">Telugu</option>
                            <option class="service-small" value="Tamil">Tamil</option>
                            <option class="service-small" value="Hindi">Hindi</option>
                        </select>
                    </div>
                    <div class="inputdiv">
                        <label class="inputlabel" for="gender">Gender</label>
                        <select class="selectdropdown" name="gender" id="gender">
                            <option class="service-small" value="male">Male</option>
                            <option class="service-small" value="female">Female</option>
                        </select>
                    </div>
                    <div class="recordedaudio">
                        <ol id="recordingsList"></ol>
                    </div>
                    <div class="submitrecorddiv">
                        <button type="submit" class="submitrecord" id="submitbtn" value="SumitRecord"
                            disabled>Submit</button>
                    </div>
                    <div id="successmsg" visibility: hidden>
                        <span class="successmsg">Recorded Sucessfully</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../jsfile/recorder.js"></script>
    <script src="../jsfile/recorder_wells.js"></script>
    <script src="../jsfile/search_wells.js"></script>
    <script src="../jsfile/jquery.min.js"></script>
    <script src="../jsfile/fontawesome.js"></script>

</body>

</html>