<html>

<head>
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate">
    <link rel="stylesheet" href="../style/styles.css">
</head>

<body style="overflow: hidden;">
    <div class="wellsvoice">
        <div class="allfeature">
            <div class="linktag">
                <a href="javascript:history.go(-1)">Go back</a>
            </div>
            <div class="features">
                <h2 class="labeclass">Search Pronunciation </h2>
                <form>
                    <div class="inputdiv">
                        <label class="inputlabel required labeclass" for="fname">Name:</label>
                        <input type="text" id="name" name="name" required onkeyup="enableFunction()" />
                    </div>
                    <div class="inputdiv">
                        <label class="inputlabel" for="lname" class="labeclass">Country:</label>
                        <select class="selectdropdown name=" country" id="country">
                            <option disabled selected value> -- select country -- </option>
                            <option class="service-small" value="india">India</option>
                            <option class="service-small" value="usa">USA</option>
                            <option class="service-small" value="china">China</option>
                            <option class="service-small" value="finland">Finland</option>
                            <option class="service-small" value="france">France</option>
                            <option class="service-small" value="ghana">Ghana</option>
                            <option class="service-small" value="australia">Australia</option>
                            <option class="service-small" value="france">France</option>
                            <option class="service-small" value="ghana">Ghana</option>
                        </select>
                    </div>
                    <div class="inputdiv">
                        <label class="inputlabel" for="fname" class="labeclass">Gender:</label>
                        <select class="selectdropdown" name="gender" id="gender">
                            <option disabled selected value> -- select gender-- </option>
                            <option class="service-small" value="male">Male</option>
                            <option class="service-small" value="female">Female</option>
                            <option class="service-small" value="female">Transgender</option>
                        </select>
                    </div>
                    <div class="inputdiv">
                        <label class="inputlabel" for="lname" class="labeclass">Language:</label>
                        <select class="selectdropdown name=" language" id="language">
                            <option disabled selected value> -- select language -- </option>
                            <option class="service-small" value="English">English</option>
                            <option class="service-small" value="Kannada">Kannada</option>
                            <option class="service-small" value="French">French</option>
                            <option class="service-small" value="Korean">Korean</option>
                            <option class="service-small" value="Telugu">Telugu</option>
                            <option class="service-small" value="Tamil">Tamil</option>
                            <option class="service-small" value="Hindi">Hindi</option>
                        </select>
                    </div>
                    <div>
                        <button type="button" value="Submit" id="submitbtn" onclick="searchPronunciation()"
                            disabled>Search</button>
                    </div>
                </form>
            </div>
            <div id="outputAudio" hidden="true">
                <audio id="searchaudiotag" controls="" src=""></audio><br><br>
                <div id="transcript_output">
                    <img id="thumbsup" class="transcript_word" src="../images/thumpsUp.jpg"
                        onclick="countthumbsup()">
                    <label class="phonemeinputlabel" for="lname">Correct Pronunciation</label>
                    <img id="thumbsdown" class="transcript_word" onclick="countthumbsdown()"
                        src="../images/thumbsDown.jpg">
                    <label class="phonemeinputlabel" for="lname">Incorrect Pronunciation</label>
                    <img id="thumbsresponse" class="transcript_word" hidden="true"
                    src="../images/thumbresponse.png">
                    <br /><br />
                    <label class="inputlabel labeclass" for="lname">Name:</label>
                    <span id="namespan" class="transcript_word"></span><br>
                    <label class="inputlabel labeclass" for="lname">Phoneme:</label>
                    <span id="phonemespan" class="transcript_word"></span><br>
                    <div class="feebackdiv">
                        <label class="labeclass"><a id="feedbacklink" onclick="enablefeeback()"
                                href="#">Feeback</a></label>
                    </div>
                    <div class="feedbackitems" id="feedbacksection" hidden="true">
                        <input placeholder="enter your Email" id="feebackemail" type="email" required />
                        <input placeholder="enter your Name" id="feebackname" type="text" />
                        <div class="textareaclass">
                            <textarea placeholder="enter your feedback" id="feedbacktext" rows="3" cols="46"></textarea>
                        </div>
                        <br>
                        <div class="feebackdiv">
                            <button id="feedbacksubmit" type="submit" onclick="submitfeedback()">Submit</button>
                        </div>
                        <div id="successfeedback" hidden= "hidden">
                            <span class="successfeedback labeclass shiftclass">Feedback submited</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="searchempty" hidden="true">
            <label class="labeclass"><b>Name is not available in our record, Please record</b></label>
        </div>
    </div>
    </div>
    <script src="../jsfile/recorder.js"></script>
    <script src="../jsfile/search_wells.js"></script>
    <script src="../jsfile/jquery.min.js"></script>

</body>